<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>AD_UNIT_ID_FOR_BANNER_TEST</key>
        <string>ca-app-pub-3940256099942544/2934735716</string>
        <key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
        <string>ca-app-pub-3940256099942544/4411468910</string>
        <key>CLIENT_ID</key>
        <string>786576419400-1khd4lnqj1j6uq7o9e6vgsj73dr94qb6.apps.googleusercontent.com</string>
        <key>REVERSED_CLIENT_ID</key>
        <string>com.googleusercontent.apps.786576419400-1khd4lnqj1j6uq7o9e6vgsj73dr94qb6</string>
        <key>API_KEY</key>
        <string>AIzaSyCJywra4-rp_Muk2TWLQ7hmMQNY5GXCL1I</string>
        <key>GCM_SENDER_ID</key>
        <string>786576419400</string>
        <key>PLIST_VERSION</key>
        <string>1</string>
        <key>BUNDLE_ID</key>
        <string>com.badeeb.WaritexPromotions</string>
        <key>PROJECT_ID</key>
        <string>waritex-promotions-firebase</string>
        <key>STORAGE_BUCKET</key>
        <string>waritex-promotions-firebase.appspot.com</string>
        <key>IS_ADS_ENABLED</key>
        <true/>
        <key>IS_ANALYTICS_ENABLED</key>
        <false/>
        <key>IS_APPINVITE_ENABLED</key>
        <true/>
        <key>IS_GCM_ENABLED</key>
        <true/>
        <key>IS_SIGNIN_ENABLED</key>
        <true/>
        <key>GOOGLE_APP_ID</key>
        <string>1:786576419400:ios:7ee11f228b1bf6e4</string>
        <key>DATABASE_URL</key>
        <string>https://waritex-promotions-firebase.firebaseio.com</string>
    </dict>
</plist>
